*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.form-control{
    margin: 5px;
}
section{
    margin-top: 5%;
}

